<?xml version='1.0' encoding='utf-8'?>
<robot name="chessboard">

  <!-- if you want hand to eye -->
  <!-- <joint name="chessboard_back_joint" type="fixed">
    <origin xyz="0.2 -0.2 0.2" rpy="3.14 -0.785 -0.785" />
    <parent link="panda_link8" />
    <child link="chessboard_back" />
  </joint> -->

  <!-- if you want hand in eye -->
  <joint name="chessboard_back_joint" type="fixed">
    <origin xyz="0.4 0 0.1" rpy="0 0 1.57" />
    <parent link="panda_link0" />
    <child link="chessboard_back" />
  </joint>

  <link name="chessboard_back">
    <visual>
      <geometry>
        <mesh filename="model://checkerboard_plane/meshes/checkerboard_plane.dae" />
      </geometry>
    </visual>
  </link>
</robot>