<launch>
    <include file="$(find arm_control)/launch/run_gemini_camera.launch"/>
    <node name="img_correct" pkg="arm_control" type="img_correct.py" output="screen"/>
    <node name="red_object_pose_find" pkg="arm_control" type="red_object_pose_find.py" output="screen"/>
    <node name="img2world_to" pkg="arm_control" type="img2world_to.py" output="screen"/>
    <!-- <node name="img2world_in" pkg="arm_control" type="img2world_in.py" output="screen"/> -->
    <node name="arm_track" pkg="arm_control" type="arm_track.py" output="screen"/>
</launch>